* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v33_146 {
  width: 100%;
  height: 2249px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v33_147 {
  width: 777px;
  color: rgba(237,28,36,1);
  position: absolute;
  top: 682px;
  left: 52px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_150 {
  width: 772px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 726px;
  left: 52px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v33_151 {
  width: 774px;
  color: rgba(172,171,171,1);
  position: absolute;
  top: 770px;
  left: 50px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_152 {
  width: 679px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1572px;
  left: 59px;
  font-family: Actor;
  font-weight: Regular;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v33_154 {
  width: 222px;
  color: rgba(237,28,36,1);
  position: absolute;
  top: 2164px;
  left: 226px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v33_155 {
  width: 171px;
  color: rgba(237,28,36,1);
  position: absolute;
  top: 2163px;
  left: 733px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_158 {
  width: 171px;
  color: rgba(237,28,36,1);
  position: absolute;
  top: 55px;
  left: 170px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_161 {
  width: 130px;
  color: url("../images/v33_161.png");
  position: absolute;
  top: 54px;
  left: 1012px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v33_163 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1930px;
  left: 138px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v33_164 {
  width: 641px;
  height: 456px;
  background: url("../images/v33_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 55px;
  overflow: hidden;
}
.v33_165 {
  width: 100%;
  height: 656px;
  background: url("../images/v33_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 94px;
  overflow: hidden;
}
.v19_212 {
  width: 100%;
  height: 607px;
  background: url("../images/v19_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 167px;
  overflow: hidden;
}
.v25_39 {
  width: 773px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 395px;
  left: 18px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v33_173 {
  width: 686px;
  height: 386px;
  background: url("../images/v33_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1135px;
  left: 52px;
  overflow: hidden;
}
.v33_174 {
  width: 100%;
  height: 759px;
  background: url("../images/v33_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 57px;
  overflow: hidden;
}
.v33_149 {
  width: 663px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 871px;
  left: 52px;
  font-family: Rubik Mono One;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v64_36 {
  width: 547px;
  height: 451px;
  background: url("../images/v64_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 791px;
  overflow: hidden;
}
.v64_38 {
  width: 97px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 1368px;
  overflow: hidden;
}
.v64_39 {
  width: 97px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1368px;
  overflow: hidden;
}
.v64_40 {
  width: 97px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1368px;
  overflow: hidden;
}
.v64_41 {
  width: 97px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1368px;
  overflow: hidden;
}
